pipeline/Pipeline_git_demo.json
{
	"name": "Pipeline_git_demo",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata",
				"description": "To check if the folder exists in raw folder. Only if a folder exists in raw folder, the files will be ingested in processed folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Json1",
						"type": "DatasetReference",
						"parameters": {
							"window_date": {
								"value": "@formatDateTime(pipeline().parameters.window_end_date,'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If folder exists in raw folder",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "circuits_file_ingestion",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/amarnadh.reddy@outlook.com/Formula1/Data Ingestion/1.ingest circuit file",
								"baseParameters": {
									"folder_date": {
										"value": "@formatDateTime(pipeline().parameters.window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_Forumula1_dbricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest races file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/amarnadh.reddy@outlook.com/Formula1/Data Ingestion/2.Ingest Races file",
								"baseParameters": {
									"folder_date": {
										"value": "@formatDateTime(pipeline().parameters.window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_Forumula1_dbricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest results file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/amarnadh.reddy@outlook.com/Formula1/Data Ingestion/5.ingest results file-json",
								"baseParameters": {
									"folder_date": {
										"value": "@formatDateTime(pipeline().parameters.window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_Forumula1_dbricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest driver file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/amarnadh.reddy@outlook.com/Formula1/Data Ingestion/4.ingest driver file-nested json",
								"baseParameters": {
									"folder_date": {
										"value": "@formatDateTime(pipeline().parameters.window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_Forumula1_dbricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ingest constructors file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/amarnadh.reddy@outlook.com/Formula1/Data Ingestion/3.Ingest Constructor-json file",
								"baseParameters": {
									"folder_date": {
										"value": "@formatDateTime(pipeline().parameters.window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_Forumula1_dbricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "transformation_and_race_analytics",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "If folder exists in raw folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/amarnadh.reddy@outlook.com/Formula1/DEMO/race_analytics"
				},
				"linkedServiceName": {
					"referenceName": "ls_Forumula1_dbricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"window_end_date": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-12-17T03:04:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}